<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container-fluid">
    <form action="/send-msg/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="text">Message</label>
            <input type="text" class="form-control" id="text" name="message" required>
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
<div class="container-fluid">
    <div id="chat_history">

    </div>
    <button type="button" class="btn btn-default" id="get-chat">See Last 10 chats</button>
</div>

<script>
$(document).ready(function() {
 $(document).on("click","#get-chat",function() {
    $.ajax({
  url: "/get-msg/",
  context: document.body
}).done(function(response) {
  $('#chat_history').html(response);
});

    });    });


</script>
</body>
</html>
